.installed.cfg
*.py[cod]
*.hy[cod]
*$py.class
*.so
*.egg-info
*.egg-info/
*.egg
*.out
*.raw
*.log
.eggs/
.Python
__pycache__/
build/
develop-eggs/
dist/
eggs/
share/python-wheels/
wheels/

gym_ad/__pycache__/
gym_ad/*.py[cod]
gym_ad/*.hy[cod]
gym_ad/*$py.class
gym_ad/*.out
gym_ad/*.raw

models/*
libs/*
install.sh
resources
mos

log/*
